[submodule "libs/libFoxEvents"]
	path = libs/libFoxEvents
    url = https://github.com/SenkoraJS/libFoxEvents.git
    ignore = all
[submodule "libs/tomlc99"]
	path = libs/tomlc99
	url = https://github.com/cktan/tomlc99.git
	ignore = all
